#titleContainer {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#profilePicture {
    align-self: flex-start;
    border-bottom-left-radius: 60px;
    border-top-right-radius: 60px;
    height: 30%;
    width: 30%;
}

.titleText {
    padding-left: 5%;
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin:0;
    font-size:4em;
}

.titleTextContainer {
    display: flex;
    flex-direction: column;
    width: 30em;
}

.subTitle {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-family: "Victor Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.subTextI {
    font-family: "Victor Mono", monospace;
    font-size:0.9em;
    font-weight:100;
    font-style: normal;
    margin: 0.2em auto;
}
.headerTitle {
    flex: 5;

    font-family: "Victor Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}



#headerDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (max-width: 900px) {
    #profilePicture {
        align-self: center;
        height: 70%;
        width: 70%;
    }

    #titleContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .headerTitle {
        font-size: 2.5em;
    }
    #headerDiv {
        flex-direction: column;
    }


}